.cshein-card {
  background-color: #fcfbfd;
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: none;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(145, 158, 171, 0.2) 0 0 2px 0,
    rgba(145, 158, 171, 0.12) 0 12px 24px -4px;
  border-radius: 16px;
  z-index: 0;
  padding: 10px;
  
}

.cshein-avatar {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  overflow: hidden;
  user-select: none;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.datepicker input {
  height: 7px;
}

ul.MuiList-root .Mui-selected {
  border-radius: 12px;
  background-color: #0369a1 !important;
  color: white !important;
  border: thin solid #0369a1 !important;  
}

.Mui-selected {
  background-color: #0369a1 !important;
  color: white !important;
}

.MuiListItemButton-root:hover,
.MuiMenuItemButton-root,
.MuiMenuItem-root,
.MuiList-root  .MuiButtonBase-root {
  border-radius: 12px !important;
}

.MuiListItemIcon-root {
  min-width: 24px !important;
}

::-webkit-scrollbar {
  width: 5px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: rgba(136, 136, 136, 1);
}
